[Unit]
Description=Run ENG402 USB Sync every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=eng402-sync.service

[Install]
WantedBy=timers.target
